<template>
  <div>
    <v-navigation-drawer app v-model="clipped">
      <Sidebar v-bind:id="userId" v-if="clipped" @filter="filterGroup" @no-filter="noFilter"></Sidebar>
    </v-navigation-drawer>
    <Toolbar @clicked="changeDrawerState"></Toolbar>

    <v-card>
      <v-card-title>My Contacts
        <v-spacer></v-spacer>
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
      </v-card-title>

      <v-dialog v-model="groupDialog" max-width="350px">
        <v-card>
          <v-card-title>Add Group</v-card-title>
          <v-card-text>
            <v-container>
              <v-flex >
                <v-text-field v-model="groupItem.name" label="Group name"></v-text-field>
              </v-flex>
              <v-flex >
                <v-text-field v-model="groupItem.type" label="Group Type"></v-text-field>
              </v-flex>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="saveGroup">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog v-model="dialog" max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline">{{ formTitle }}</span>
          </v-card-title>

          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.fName" label="First name"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.lName" label="Last Name"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.phone" label="Phone Number"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-text-field v-model="editedItem.email" label="E-mail"></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md4>
                  <v-select :items="groupsNames" v-model="editedItem.group" label="group"></v-select>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
            <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
    <v-speed-dial
      v-model="fab"
      fixed
      bottom
      right
      :direction="top"
      :open-on-hover="true"
      :transition="slide-y-transition"
    >
      <v-btn slot="activator" v-model="fab" color="blue darken-2" dark fab>
        <v-icon>add</v-icon>
        <v-icon>close</v-icon>
      </v-btn>
      <v-btn fab dark small color="indigo" @click="dialog = !dialog">
        <v-icon>contacts</v-icon>
      </v-btn>
      <v-btn fab dark small color="red" @click="groupDialog = !groupDialog">
        <v-icon>group</v-icon>
      </v-btn>
    </v-speed-dial>
    <v-data-table :headers="headers" :items="contacts" :search="search" class="elevation-1">
      <template slot="items" slot-scope="data">
        <td>{{ data.item.fName }}</td>
        <td>{{ data.item.lName }}</td>
        <td class="text-xs-right">{{ data.item.phone }}</td>
        <td class="text-xs-right">{{ data.item.email }}</td>
        <td class="text-xs-right">{{ data.item.group }}</td>
        <td class="justify-center layout px-0">
          <v-icon small class="mr-2" @click="editItem(data.item)">edit</v-icon>
          <v-icon small @click="deleteItem(data.item)">delete</v-icon>
        </td>
      </template>
      <template slot="no-data">
        <v-alert
          :value="true"
          color="error"
          icon="warning"
        >Sorry, we couldn't find contact under the name {{search}}</v-alert>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import axios from "axios";
import Sidebar from "./sidebar.component.vue";
import Toolbar from "./toolbar.component.vue";
import URLConfig from "../config/url.config.json";

export default {
  components: {
    Sidebar,
    Toolbar
  },

  data: () => ({
    fab: false,
    userId: "",
    admin: false,
    groups: [],
    groupsNames: [],
    tokenId: "",
    search: "",
    dialog: false,
    groupDialog: false,
    clipped: true,
    headers: [
      { text: "First Name", align: "left", value: "fname" },
      { text: "Last Name", value: "lname" },
      { text: "Phone", value: "phone" },
      { text: "E-mail", value: "email" },
      { text: "Group", value: "group" },
      { text: "Actions", value: "name", sortable: false }
    ],
    contacts: [],
    editedIndex: -1,
    editedItem: {
      fName: "",
      lName: "",
      phone: "",
      email: "",
      group: "",
      groupId: ""
    },
    defaultItem: {
      fname: "",
      lname: "",
      phone: "",
      email: "",
      group: ""
    },
    groupItem: {
      name: "",
      type: ""
    }
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Contact" : "Edit Contact";
    }
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    groupDialog(val) {
      val || this.close();
    }
  },

  created() {
    this.userId = this.$route.params.id;
    this.tokenId = window.localStorage.getItem("token");
    this.admin = window.localStorage.getItem("admin");
    // Get contact By Id
    axios
      .get(
        `${URLConfig.CONTACTS}/${this.userId}/contacts?access_token=${
          this.tokenId
        }`
      )
      .then(res => {
        this.contacts = res.data;
      });
    // Get Group by contacts Id
    axios
      .get(
        `${URLConfig.CONTACTS}/${this.userId}/groups?access_token=${
          this.tokenId
        }`
      )
      .then(res => {
        this.groups = res.data;
        this.groups.forEach(group => {
          this.groupsNames.push(group.name);
        });
      });
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.contacts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    filterGroup(groupName) {
      this.search = groupName;
    },

    noFilter() {
      this.search = "";
    },

    deleteItem(item) {
      let index = this.contacts.indexOf(item);
      let DeleteUrl = `${URLConfig.CONTACTS}/${this.userId}/contacts/${
        this.editedItem.id
      }?access_token=${this.tokenId}`;
      confirm("Are you sure you want to delete this item?") &&
        this.contacts.splice(index, 1);
      axios({
        method: "delete",
        url: DeleteUrl
      });
    },

    close() {
      this.dialog = false;
      this.groupDialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
        this.groupItem.name = "";
        this.groupItem.type = "";
      }, 300);
    },

    save() {
      let group;
      if (this.editedIndex > -1) {
        //Get Groups Id from the Groups list
        group = this.groups.find(group => group.name == this.editedItem.group);
        if(group){
          this.editedItem.groupId = group.id;
        }

        let Updateurl = `${URLConfig.CONTACTS}/${this.userId}/contacts/${
          this.editedItem.id
        }?access_token=${this.tokenId}`;

        // Send Request 
        axios({
          method: "put",
          url: Updateurl,
          data: this.editedItem
        }).then(res => {
          console.log(res.data);
        });
        Object.assign(this.contacts[this.editedIndex], this.editedItem);
      } else {
        this.contacts.push(this.editedItem);

        // Get Group id
        group = this.groups.find(group => group.name == this.editedItem.group);
        
        // Configure username and Default passwrod for new Contact 
        if(group){
          this.editedItem.groupId = group.id;
        }

        this.editedItem.password = "12345";
        this.editedItem.username = `${this.editedItem.fName}.${
          this.editedItem.lName
        }`;

        let PostUrl = `${URLConfig.CONTACTS}/${
          this.userId
        }/contacts?access_token=${this.tokenId}`;

        // Send Request 
        axios({
          method: "post",
          url: PostUrl,
          data: this.editedItem
        }).then(res => {
          console.log(res.data);
        });
      }
      this.close();
    },

    saveGroup() {
      let PostUrl = `${URLConfig.CONTACTS}/${this.userId}/groups?access_token=${
        this.tokenId
      }`;
      axios({
        method: "post",
        url: PostUrl,
        data: this.groupItem
      }).then(res => {
        this.groups.push(res.data);
        this.groupsNames.push(res.data.name);
      });
      this.close();
    },

    changeDrawerState() {
      this.clipped = !this.clipped;
    }
  }
};
</script>

<style>
/* This is for documentation purposes and will not be needed in your application */
.v-speed-dial {
  position: absolute;
}

.v-btn--floating {
  position: relative;
}
</style>
