<template>
  <v-navigation-drawer v-model="drawer" absolute>
    <v-list class="pa-1">
      <v-list-tile avatar tag="div">
        <v-list-tile-avatar>
          <img src="https://randomuser.me/api/portraits/men/85.jpg">
        </v-list-tile-avatar>

        <v-list-tile-content>
          <v-list-tile-title>John Leider</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>

    <v-list class="pt-0" dense>
      <v-divider light></v-divider>
      <v-list-tile @click="noFilter">
        <v-list-tile-action>
          <v-icon>contacts</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>Contacts</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-group sub-group no-action>
        <v-list-tile slot="activator">
          <v-list-tile-title>Groups</v-list-tile-title>
          <v-list-tile-action>
            <v-icon>group</v-icon>
          </v-list-tile-action>
        </v-list-tile>
        <!-- <router-link tag="li" to="/"> -->
        <v-list-tile v-for="group in groups" :key="group" @click="filterGroup(group.name)">
          <v-list-tile-title v-text="group.name"></v-list-tile-title>
          <v-list-tile-action>
            <v-icon>group</v-icon>
          </v-list-tile-action>
        </v-list-tile>
        <!-- </router-link> -->
      </v-list-group>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import axios from "axios";
import URLConfig from "./../config/url.config";
export default {
  data() {
    return {
      drawer: true,
      accessToken: "",
      items: [
        { title: "Contacts", icon: "contacts" },
        { title: "About", icon: "question_answer" }
      ],
      groups: {},
      mini: true,
      right: null
    };
  },
  props: ["id"],
  created() {
    this.accessToken = window.localStorage.getItem("token");
    let getUrl = `${URLConfig.CONTACTS}/${this.id}/groups?access_token=${
      this.accessToken
    }`;
    axios
      .get(getUrl)
      .then(res => {
        this.groups = res.data;
      })
      .catch(err => {
        throw err;
      });
  },
  methods: {
    filterGroup(groupName) {
      this.$emit("filter", groupName);
    },
    noFilter() {
      this.$emit("no-filter");
    }
  }
};
</script>