<template>
  <v-card id="card" max-width="500px">
    <v-card-title primary-title>
      <div class="headline mb-0">Signup</div>
    </v-card-title>
    <v-card-text>
      <form class="login-right" @submit.prevent>
        <v-container>
          <v-layout wrap justify-space-between>
            <v-flex md12>
              <v-text-field v-model="user.fName" label="First name" required></v-text-field>
            </v-flex>

            <v-flex md12>
              <v-text-field v-model="user.lName" label="Last name" required></v-text-field>
            </v-flex>

            <v-flex md12>
              <v-text-field v-model="user.username" :counter="10" label="username" required></v-text-field>
            </v-flex>

            <v-flex md12>
              <v-text-field v-model="user.phone" :counter="10" label="phone" required></v-text-field>
            </v-flex>

            <v-flex md12>
              <v-text-field v-model="user.password" label="password" required></v-text-field>
            </v-flex>
          </v-layout>
          <v-btn color="success" @click="signUp">Signup</v-btn>
          <dir>
            <p>
              Have An Account Login
              <mark>
                <router-link to="/login" tag="i" class="alert alert-light">here!</router-link>
              </mark>
            </p>
          </dir>
        </v-container>
      </form>
    </v-card-text>
  </v-card>
</template>
<script>
import axios from "axios";
import URLconfig from "../config/url.config.json";

export default {
  name: "LoginForm",
  template: "#login-form",

  data() {
    return {
      rememberMe: false,
      user: {
        fName: "",
        lName: "",
        username: "",
        phone: "",
        password: ""
      }
    };
  },

  methods: {
    signUp() {
      let postURL = URLconfig.CONTACTS;
      axios
        .post(postURL, this.user)
        .then(res => {
          console.log(res.data);
        })
        .catch(err => {
          console.log(err);
        });
      let data = {
          username: this.user.username,
          password: this.user.password
      };
      axios
        .post(`${URLconfig.CONTACTS}/login`, data)
        .then(response => {
          window.localStorage.setItem("token", response.data.id);
          this.$router.push(`/contacts/${response.data.userId}`);
        })
        .catch(err => {
          console.log(err);
        });
    }
  }
};
</script>
<style>
#card {
  margin: 0 auto;
}
</style>
