<template>
  <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp" color="blue darken-3" dark app fixed>
    <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
      <v-toolbar-side-icon @click="chageDrawerState($event)"></v-toolbar-side-icon>
      <span class="hidden-sm-and-down">Contacts</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon>
      <v-icon>apps</v-icon>
    </v-btn>
  </v-toolbar>
</template>

<script>
export default {
  methods: {
    chageDrawerState(event) {
      this.$emit("clicked");
    }
  }
};
</script>
